<header>
    <h1>My online note</h1>
    {{#if headerWithNavigation}}
        <nav>
            <button id="log-out-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </nav>
    {{/if}}
</header>
