{{#section "head"}}
    <title>{{title}}</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/setting.css">
    <link rel="stylesheet" href="./css/{{resourceName}}.css">
{{/section}}
<div class="wrapper">
    <main>
        <h2>{{title}}</h2>
        <form id="forgot-password-form" class="main-form">
            <input id="email-input" type="email" placeholder="Email" name="email" required
                pattern="^[a-zA-Z0-9](\.?[a-zA-Z0-9]){5,}@g(oogle)?mail\.com$" title="Only support gmail now">
            <p class="alert-message">Error</p>
            <div class="g-recaptcha" data-sitekey="6LefZv4hAAAAALx5bME0A_P02bWPn6LLmG2aHtO3"></div>
            <input type="submit" value="Submit">
        </form>
        <a href="../signIn">Got your password back? Sign in here!</a>
    </main>
</div>
<script src="./js/{{resourceName}}.js" type="module"></script>