<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Work+Sans&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/setting.css">
    <link rel="stylesheet" href="./css/forgotPassword.css">
</head>

<body>
    <header>My online note</header>
    <div class="wrapper">
        <main>
            <h1>Forgot password</h1>
            <form id="forgot-password-form" class="main-form">
                <input id="email-input" type="email" placeholder="Email" name="email" required
                    pattern="^[a-zA-Z0-9](\.?[a-zA-Z0-9]){5,}@g(oogle)?mail\.com$" title="Only support gmail now">
                <p class="alert-message">Error</p>
                <div class="g-recaptcha" data-sitekey="6LefZv4hAAAAALx5bME0A_P02bWPn6LLmG2aHtO3"></div>
                <input type="submit" value="Submit">
            </form>
            <a href="../signIn">Got your password back? Sign in here!</a>
        </main>
    </div>

    <script src="./js/forgotPassword.js" type="module"></script>
</body>

</html>