<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Work+Sans&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/setting.css">
    <link rel="stylesheet" href="./css/signup.css">
</head>

<body>
    <header>My online note</header>
    <div class="wrapper">
        <main>
            <h1>Sign up</h1>
            <form id="sign-up-form">
                <input id="name-input" type="text" placeholder="Name" name="name"
                    pattern="^[a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểếỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s]{3,40}$"
                    title="3-40 characters (Vietnamese unicode is allowed)" required>
                <input id="username-input" type="text" placeholder="Username" name="username" required
                    pattern="^[a-zA-Z][a-zA-Z0-9]{5,19}$" title="6-20 characters (first character cannot be a number)">
                <input id="password-input" type="password" placeholder="Password" name="password" required
                    pattern="^[a-zA-Z0-9]{6,}$" title="minimum 6 characters (alphabet and number is allowed)">
                <input id="confirm-password-input" type="password" placeholder="Confirm your password"
                    name="confirm-password" required>
                <p class="warning-message">Error</p>
                <div class="g-recaptcha" data-sitekey="6LefZv4hAAAAALx5bME0A_P02bWPn6LLmG2aHtO3"></div>
                <input type="submit" value="Submit">
            </form>
            <a href="../signin">Already have an account? Sign in here!</a>
        </main>
    </div>

    <script src="./js/signup.js" type="module"></script>
</body>

</html>