<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/setting.css">
    <link rel="stylesheet" href="./css/signup.css">
</head>

<body>
    <header>My online note</header>
    <div class="wrapper">
        <main>
            <h1>Sign up</h1>
            <form id="sign-up-form">
                <input id="name-input" type="text" placeholder="Name" name="name" required>
                <input id="username-input" type="text" placeholder="Username" name="username" required>
                <input id="password-input" type="password" placeholder="Password" name="password" required>
                <input type="submit" value="Submit">
            </form>
            <a href="../signin">Already have an account? Sign in here!</a>
        </main>
    </div>

    <script src="./js/signup.js"></script>
</body>

</html>