<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/setting.css">
    <link rel="stylesheet" href="./css/signin.css">
</head>

<body>
    <header>My online note</header>
    <div class="wrapper">
        <main>
            <h1>Sign in</h1>
            <form id="sign-in-form">
                <input id="username-input" type="text" placeholder="Username" name="username" required
                    pattern="^[a-zA-Z][a-zA-Z0-9]{5,19}$" title="6-20 characters (first character cannot be a number)">
                <input id="password-input" type="password" placeholder="Password" name="password" required
                    pattern="^[a-zA-Z0-9]{6,}$" title="minimum 6 characters (alphabet and number is allowed)">
                <p class="alert-message">Error</p>
                <input type="submit" value="Submit">
            </form>
            <a href="../signup">Still not have an account? Sign up here!</a>
        </main>
    </div>
    <script src="./js/signin.js"></script>
</body>

</html>